# 忽略的目录
**/bin/
!vendor/premake/bin/
bin-int/

# hg files
*.log
*.json

# Visual Studio files and folder
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Directories
hg/vendor/VulkanSDK
HGnut/assets/cache
scripts/__pycache__